# Aiken compilation artifacts
artifacts/
plutus.json
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

# elm-cardano compilation artifacts
main.js
elm-cardano.js
pkg-uplc-wasm/

